<form action="/" method="post">
    <input type="text" name="postcode" placeholder="Enter the Postcode">
    <button type="submit" name="button">Submit Postcode</button>
</form>

<h1>
    <%= postcodeData %>
</h1>
